<div class="body">

  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1400px">

    <app-head-title></app-head-title>

    <!-- Grid -->
    <div class="w3-row">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <img src="https://ec.europa.eu/programmes/creative-europe/sites/creative-europe/files/covid19-cdc-unsplash.jpg" alt="Nature" style="width:100%">
          <div class="w3-container">
            <h3><b>Coronavirus symptoms: what are they and how long do they last?</b></h3>
            <h5>This guide on coronavirus symptoms, underpinned with advice from leading health experts, is designed to protect you and your family, because your government will not.</h5>
          </div>
        </div>
        <hr>

        <!-- Blog entry -->
        <div class="w3-card-6 w3-margin w3-white">
          <div class="w3-container">
            <h3><b>Coronavirus Info</b></h3>
            <h5>Coronavirus history</h5>
          </div>
          <div class="w3-container">
            <p>
          Since Covid-19 emerged at the beginning of this year in China it has caused widespread devastation globally - infecting more than 8.6 million people and killing more than 460,000.
            </p>
            <p>
          There are cases in nearly every country in the world and even the most sophisticated health systems in Europe and the United States are struggling to contain it.
            </p>
            <p>
          There have now been 301,815 confirmed cases in the UK, although many more people are thought to be infected, and a total of 42,461 patients have died. More than 7.4 million coronavirus tests have been carried out in the UK.
            </p>
            <p>
          As the disease has spread around the world our knowledge of it has grown, with a vaccine now being trialled, diagnostic tests being developed and new treatments being tested.
            </p>
            <p>
          But there is also a lot that individuals can do to stop themselves picking up and spreading this disease. This practical guide will help you keep yourself and your family safe and tell you everything you need to know about this global pandemic.
            </p>
          </div>
        </div>

        <!-- Posts -->
        <div class="w3-card w3-margin w3-white">
          <div class="w3-container">
            <h3><b>What is a coronavirus?</b></h3>
          </div>
          <div class="w3-container">
            <p>
              Coronaviruses are a family of viruses that cause disease in animals. Seven, including the new virus, have made the jump to humans, but most just cause common cold-like symptoms.
            </p>
            <p>
              Only two other coronaviruses – Middle East respiratory syndrome (Mers) and severe acute respiratory syndrome (Sars) – have been deadly but did not spread on the same scale as Covid-19. They have killed more than 1,500 people between them since 2002.
            </p>
            <p>
            So far, around 15 to 20 per cent of Covid-19 cases have been classed as "severe" and the current death rate varies between 0.7 per cent and 3.4 per cent depending on the location and, crucially, access to good hospital care.
            </p>
            <p>
            Scientists in China believe that Covid-19 has mutated into two strains, one more aggressive than the other, which could make developing a vaccine more complicated.
            </p>
          </div>
        </div>
      </div>

      <!-- Introduction menu -->
      <div class="w3-col l4 s12">
        <!-- About Card -->
        <div style="overflow-y: auto;" class="w3-card w3-margin w3-white">
          <iframe src="https://art19.com/shows/coronavirus-the-latest/embed?playlist_type=latest" style="width: 100%; height: 200px; border: 0 none;" scrolling="no"></iframe>
        </div>
        <hr>

        <!-- Posts -->
        <div class="w3-card w3-margin w3-white">
          <div class="w3-container">
            <h3><b>Corona VIrus Symptoms</b></h3>
          </div>
          <div class="w3-container">
            <p>
            What are the mild symptoms of coronavirus?
            According to the World Health Organisation (WHO), the main symptoms of coronavirus usually include:
            </p>
            <ul>
              <li> A dry cough
              <li> A temperature
              <li> Tiredness/lethargy
              <li> Shortness of breath (in more severe cases)
            </ul>
            <p>
            Some patients may have "aches and pains, nasal congestion, runny nose, sore throat or diarrhoea", WHO adds. "These symptoms are usually mild and begin gradually. Some people become infected but don’t develop any symptoms and don't feel unwell".
            </p>
          </div>
        </div>
        <hr>
        <!-- END Introduction Menu -->
      </div>

      <!-- END GRID -->
    </div>
    <br>

    <!-- END w3-content -->
  </div>
  <!-- Footer -->
</div>
